openapi: 3.0.3
info:
  title: Hatchafrica – Business Central API
  description: >
    Integration API on top of Microsoft Dynamics 365 Business Central  for
    AGP Poultry PLC (Ethiopia).
  version: "1.0.0.1"
  contact:
    name: Hatch Africa Enterprise Technology
externalDocs:
  description: 
  url:
servers:
  - url: https://api.businesscentral.dynamics.com/v2.0/{TENAT_ID}/{Environment}
    description: >
      The Tenant ID and the Environement Name is provided in separate document. Including the client credential.

# security:
#   - oauth2ClientCredentials: []

tags:
  - name: Companies
  - name: Customers
  - name: Products
  - name: Sales Quotes
  - name: Sales Orders
  - name: Payments
  - name: Reference Data

paths:

  # ---------------------------------------------------------------
  # 1. Companies (custom REST API)
  # ---------------------------------------------------------------
  "{{baseUrl}}/api/ech/echgroup/v1.0/companies":
    get:
      tags: [Companies]
      summary: List companies accessible to this app registration
      description: Tenant-wide; no company parameter needed.
      operationId: listCompanies
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        displayName:
                          type: string

  # ---------------------------------------------------------------
  # 2. Customers
  # ---------------------------------------------------------------
  "{{baseUrl}}/ODataV4/Company('AGP%20Poultry%20PLC%20%28Ethiopia%29')/customers":
    get:
      tags: [Customers]
      summary: List customers, or a single customer via $filter
      operationId: listCustomers
      parameters:
        - name: $filter
          in: query
          description: >
            e.g. `customerNo eq 'AGP-A00002'` to fetch a single customer.
          schema:
            type: string
          example: "customerNo eq 'AGP-A00002'"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: "#/components/schemas/Customer"

  "{{baseUrl}}/ODataV4/Company('AGP%20Poultry%20PLC%20%28Ethiopia%29')/createCustomerAgent":
    post:
      tags: [Customers]
      summary: Create a customer (Agent)
      description: >
        `customerNo` is system-generated (No. Series) — do not rely on any
        value you send. `priceGroup` is mandatory and must be exactly
        `AGENT`, `DEALER`, or `AGENT-DEAL`. Posting-group fields are
        hard-coded to `LOCAL` regardless of input. 
      operationId: createCustomerAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerCreate"
            example:
              name: "Eusubalewu Amenu"
              salesPersonCode: "YA001"
              phoneNumber: "+251936934945"
              dateOfBirth: "1999-10-12"
              gender: "Male"
              addressOne: "Dilla Zuriya"
              addressTwo: "Dilla Zuria"
              city: "Gedeo"
              country: "ET"
              postCode: "DILLA ZURIA"
              territory: "SERS"
              priceGroup: "AGENT"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"

  "{{baseUrl}}/ODataV4/Company('AGP%20Poultry%20PLC%20%28Ethiopia%29')/createCustomerAgent('{customerNo}')":
    patch:
      tags: [Customers]
      summary: Update a customer
      description: >
      operationId: updateCustomer
      parameters:
        - name: customerNo
          in: path
          required: true
          schema:
            type: string
            maxLength: 20
          example: "AGP-A00001"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerCreate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"

  "{{baseUrl}}/ODataV4/Company('AGP%20Poultry%20PLC%20%28Ethiopia%29')/createCustomerDealer":
    post:
      tags: [Customers]
      summary: Create a customer (Dealer)
      description: >
      operationId: createCustomerDealer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerCreate"
            example:
              name: "Abdi hussein"
              salesPersonCode: "AH001"
              phoneNumber: "+251915674330"
              dateOfBirth: "1987-08-11"
              gender: "Male"
              addressOne: "Gadullo"
              addressTwo: "Gadullo"
              city: "West Hararghe"
              country: "ET"
              postCode: "DAROLABU"
              territory: "TIG"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"

  # ---------------------------------------------------------------
  # 3. Products & Pricing
  # ---------------------------------------------------------------
  "{{baseUrl}}/ODataV4/Company('AGP%20Poultry%20PLC%20%28Ethiopia%29')/products":
    get:
      tags: [Products]
      summary: List products, or a single product via $filter
      operationId: listProducts
      parameters:
        - name: $filter
          in: query
          description: e.g. `productNo eq 'BSS001'` to fetch a single product.
          schema:
            type: string
          example: "productNo eq 'BSS001'"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: "#/components/schemas/Product"

  "{{baseUrl}}/ODataV4/Company('AGP%20Poultry%20PLC%20%28Ethiopia%29')/productPrices":
    get:
      tags: [Products]
      summary: List product prices
      operationId: listProductPrices
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: "#/components/schemas/Product"

  # ---------------------------------------------------------------
  # 4. Sales Quotes (custom REST API)
  # ---------------------------------------------------------------
  "{{baseUrl}}/api/ech/echgroup/v1.0/salesQuotes":
    get:
      tags: [Sales Quotes]
      summary: List sales quotes
      operationId: listSalesQuotes
      parameters:
        - $ref: "#/components/parameters/CompanyParam"
        - $ref: "#/components/parameters/ExpandLinesParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: "#/components/schemas/SalesQuote"
    post:
      tags: [Sales Quotes]
      summary: Create a sales quote
      operationId: createSalesQuote
      parameters:
        - $ref: "#/components/parameters/CompanyParam"
        - $ref: "#/components/parameters/ExpandLinesParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SalesQuoteCreate"
            example:
              customerNo: "AGP-A00002"
              orderDate: "2024-12-05"
              addressOne: "Mekelle"
              addressTwo: "Mekelle"
              requestedDeliveryDate: "2024-12-21"
              salesQuoteLines:
                - count: 100
                  type: "Item"
                  productNo: "DOCS003"
                  quantity: 1
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SalesQuote"

  "{{baseUrl}}/api/ech/echgroup/v1.0/salesQuotes('{quoteNo}')":
    get:
      tags: [Sales Quotes]
      summary: Get a single sales quote
      operationId: getSalesQuote
      parameters:
        - $ref: "#/components/parameters/QuoteNoPathParam"
        - $ref: "#/components/parameters/CompanyParam"
        - $ref: "#/components/parameters/ExpandLinesParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SalesQuote"
    patch:
      tags: [Sales Quotes]
      summary: Update a sales quote
      operationId: updateSalesQuote
      parameters:
        - $ref: "#/components/parameters/QuoteNoPathParam"
        - $ref: "#/components/parameters/CompanyParam"
        - $ref: "#/components/parameters/ExpandLinesParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SalesQuoteUpdate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SalesQuote"

  "{{baseUrl}}/ODataV4/Company('AGP%20Poultry%20PLC%20%28Ethiopia%29')/salesQuotes('{quoteNo}')":
    patch:
      tags: [Sales Quotes]
      summary: Unblock a sales quote
      description: >
      operationId: unblockSalesQuote
      parameters:
        - $ref: "#/components/parameters/QuoteNoPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Plate No.:
                  type: string
                  maxLength: 30
                externalDocumentNo:
                  type: string
                  maxLength: 35
                blocked:
                  type: boolean
            example:
              "Plate No.": "123764"
      responses:
        "200":
          description: OK

  # ---------------------------------------------------------------
  # 5. Sales Orders (custom REST API)
  # ---------------------------------------------------------------
  "{{baseUrl}}/api/ech/echgroup/v1.0/salesOrders('{orderNo}')":
    get:
      tags: [Sales Orders]
      summary: Get a single sales order
      description: >
      operationId: getSalesOrder
      parameters:
        - name: orderNo
          in: path
          required: true
          description: The originating Quote No., not the Sales Order No.
          schema:
            type: string
            maxLength: 20
          example: "HO-SQ-44416"
        - $ref: "#/components/parameters/CompanyParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SalesOrder"
    patch:
      tags: [Sales Orders]
      summary: Update a sales order (delivery status, plate number, requested delivery date)
      operationId: updateSalesOrder
      parameters:
        - name: orderNo
          in: path
          required: true
          description: The originating Quote No., not the Sales Order No.
          schema:
            type: string
            maxLength: 20
          example: "HO-SQ-44416"
        - $ref: "#/components/parameters/CompanyParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SalesOrderUpdate"
            examples:
              deliveryStatusAndPlate:
                summary: Update delivery status / plate number
                value:
                  deliveryStatus: "ASM: Customer ready to receive"
                  PlateNo: "12314"
              deliveryDateAndStatus:
                summary: Update requested delivery date & status
                value:
                  requestedDeliveryDate: "2025-02-28"
                  deliveryStatus: "ASM: Not Ready for Delivery"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SalesOrder"

  # ---------------------------------------------------------------
  # 6. Payments
  # ---------------------------------------------------------------
  "{{baseUrl}}/ODataV4/Company('AGP%20Poultry%20PLC%20%28Ethiopia%29')/createPayment":
    post:
      tags: [Payments]
      summary: Create a payment
      description: >
      operationId: createPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentCreate"
            example:
              date: "2025-02-21"
              externalDocumentNo: "kjlkmlkjljoojkklAT15"
              customerNo: "AGP-A19800"
              amount: 500000
              accountNo: "B-ETB-CBE0001"
              orderNo: "HO-SO-100431"
              attachmentUrl: "WWW.EXAMPLE.COM"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"

  # ---------------------------------------------------------------
  # 7. Reference / lookup data (all read-only)
  # ---------------------------------------------------------------
  "{{baseUrl}}/ODataV4/Company('AGP%20Poultry%20PLC%20%28Ethiopia%29')/bankDetails":
    get:
      tags: [Reference Data]
      summary: List bank details
      operationId: listBankDetails
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: "#/components/schemas/BankDetail"

  "{{baseUrl}}/ODataV4/Company('AGP%20Poultry%20PLC%20%28Ethiopia%29')/salesPerson":
    get:
      tags: [Reference Data]
      summary: List sales persons, or a single one via $filter
      operationId: listSalesPersons
      parameters:
        - name: $filter
          in: query
          description: e.g. `code eq 'AA001'` to fetch a single sales person.
          schema:
            type: string
          example: "code eq 'AA001'"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: "#/components/schemas/SalesPerson"

  "{{baseUrl}}/ODataV4/Company('AGP%20Poultry%20PLC%20%28Ethiopia%29')/getGeography":
    get:
      tags: [Reference Data]
      summary: List geography reference data (post codes, territories, etc.)
      operationId: getGeography
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: "#/components/schemas/Geography"

  "{{baseUrl}}/ODataV4/Company('AGP%20Poultry%20PLC%20%28Ethiopia%29')/getSalesShipment":
    get:
      tags: [Reference Data]
      summary: List sales shipments
      operationId: getSalesShipment
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object

  "{{baseUrl}}/ODataV4/Company('AGP%20Poultry%20PLC%20%28Ethiopia%29')/getBankLedger":
    get:
      tags: [Reference Data]
      summary: List bank ledger entries
      operationId: getBankLedger
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object

  "{{baseUrl}}/ODataV4/Company('AGP%20Poultry%20PLC%20%28Ethiopia%29')/OrdersandItems":
    get:
      tags: [Reference Data]
      summary: List sales orders joined with their item lines
      operationId: getOrdersAndItems
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object

  "{{baseUrl}}/ODataV4/Company('AGP%20Poultry%20PLC%20%28Ethiopia%29')/salesQuoteandItems":
    get:
      tags: [Reference Data]
      summary: List sales quotes joined with their item lines
      operationId: getSalesQuoteAndItems
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object

components:

  # securitySchemes:
  #   oauth2ClientCredentials:
  #     type: oauth2
  #     description: >
  #       Azure AD OAuth 2.0 client credentials flow.
  #       Token endpoint: https://login.microsoftonline.com/{TENANT_ID}/oauth2/v2.0/token
  #     flows:
  #       clientCredentials:
  #         tokenUrl: https://login.microsoftonline.com/{TENANT_ID}/oauth2/v2.0/token

  parameters:
    CompanyParam:
      name: company
      in: query
      required: true
      description: Company name, used by the custom REST API instead of a path segment.
      schema:
        type: string
        default: "AGP Poultry PLC (Ethiopia)"
      example: "AGP Poultry PLC (Ethiopia)"
    ExpandLinesParam:
      name: $expand
      in: query
      description: Include related sales quote lines.
      schema:
        type: string
        default: salesQuoteLines
      example: salesQuoteLines
    QuoteNoPathParam:
      name: quoteNo
      in: path
      required: true
      schema:
        type: string
        maxLength: 20
      example: "AD-SQ-24782"

  schemas:

    # ---- Customers ----
    Customer:
      type: object
      properties:
        customerNo:
          type: string
          maxLength: 20
          readOnly: true
        name:
          type: string
          maxLength: 100
        salesPersonCode:
          type: string
          maxLength: 20
        phoneNumber:
          type: string
          maxLength: 30
        phoneNumber2:
          type: string
          maxLength: 30
        alternativePhoneNo:
          type: string
          maxLength: 30
        alternativePhoneNo2:
          type: string
          maxLength: 30
        country:
          type: string
          maxLength: 10
          description: Auto-populated from the post code lookup.          
        territory:
          type: string
          maxLength: 10
          description: Auto-populated from the post code lookup.          
        city:
          type: string
          maxLength: 30
          description: Auto-populated from the post code lookup.          
        postCode:
          type: string
          maxLength: 20
          description: Auto-populated from the post code lookup.          
        addressOne:
          type: string
          maxLength: 100
        addressTwo:
          type: string
          maxLength: 50
        balance:
          type: number
          format: double
          readOnly: true
        status:
          type: string
          maxLength: 20
          readOnly: true
          enum: [Open, Released, "Pending Approval", "Pending Prepayment"]
        dateOfBirth:
          type: string
          format: date
        gender:
          type: string
          enum: [Male, Female]
        tin:
          type: string
          maxLength: 40
        priceGroup:
          type: string
          maxLength: 10
        Agent_Kebele:
          type: String
          maxLength: 2048          
        Agent_Contact_Information:
          type: String
          maxLength: 2048           
        Standby_Person:
          type: String
          maxLength: 2048          
        Agreement:
          type: String
          maxLength: 2048            

    CustomerCreate:
      type: object
      required:
        - priceGroup
      properties:
        name:
          type: string
          maxLength: 100
        salesPersonCode:
          type: string
          maxLength: 20
        phoneNumber:
          type: string
          maxLength: 30
          description: >
            Auto-reformatted to +251 XX XXX XXXX if given as a 10-digit
            local number starting with 0.
        phoneNumber2:
          type: string
          maxLength: 30
        alternativePhoneNo:
          type: string
          maxLength: 30
        alternativePhoneNo2:
          type: string
          maxLength: 30
        country:
          type: string
          maxLength: 10
          description: Auto-populated from the post code lookup.          
        territory:
          type: string
          maxLength: 10
          description: Auto-populated from the post code lookup.          
        city:
          type: string
          maxLength: 30
          description: Auto-populated from the  post code lookup.          
        postCode:
          type: string
          maxLength: 20
          description: Auto-populated from the  post code lookup.  
        addressOne:
          type: string
          maxLength: 100
        addressTwo:
          type: string
          maxLength: 50
        dateOfBirth:
          type: string
          format: date
        gender:
          type: string
          enum: [Male, Female]
        tin:
          type: string
          maxLength: 40
        priceGroup:
          type: string
          option: [AGENT, DEALER, AGENT-DEAL]
          description: >
            MANDATORY. Anything else throws "Invalid Price Group %1.
            Expected AGENT or DEALER."
        Agent_Kebele:
          type: String
          maxLength: 200         
        Agent_Contact_Information:
          type: String
          maxLength: 200         
        Standby_Person:
          type: String
          maxLength: 200          
        Agreement:
          type: String
          maxLength: 200      

    # ---- Products & Pricing ----
    Product:
      type: object
      properties:
        priceGroup:
          type: string
          maxLength: 20
        productNo:
          type: string
          maxLength: 20
        name:
          type: string
          maxLength: 100
        unitOfMeasure:
          type: string
          maxLength: 10
        unitPrice:
          type: number
          format: double
          readOnly: true
        currencyCode:
          type: string
          maxLength: 10
        locationCode:
          type: string
          maxLength: 10
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        type:
          type: string
          maxLength: 20
          description: Gen. Prod. Posting Group.
        vatCode:
          type: string
          maxLength: 20
          description: VAT Prod. Posting Group.
        status:
          type: boolean
          description: Blocked (sign-reversed for display).
        salesStatus:
          type: boolean
          description: Sales Blocked.
        inventory:
          type: number
          format: double
          readOnly: true

    # ---- Sales Quotes / Orders ----
    SalesQuoteLine:
      type: object
      required:
        - productNo
        - quantity
      properties:
        orderNo:
          type: string
          maxLength: 20
          readOnly: true
          description: Document No.; inherited from parent header.
        count:
          type: integer
          readOnly: true
          description: Line No.
        type:
          type: string
          enum: [" ", "G/L Account", Item, Resource, "Fixed Asset", "Charge (Item)", "Allocation Account"]
        itemType:
          type: string
          maxLength: 20
          readOnly: true
          description: Gen. Prod. Posting Group, derived from the item.
        productNo:
          type: string
          maxLength: 20
        quantity:
          type: number
          format: double
        unitPrice:
          type: number
          format: double
          description: Normally auto-calculated from the price list if omitted.

    SalesQuoteCreate:
      type: object
      required:
        - customerNo
        - salesPersonCode
        - salesQuoteLines
      properties:
        customerNo:
          type: string
          maxLength: 20
          description: Sell-to Customer No.
        salesPersonCode:
          type: string
          maxLength: 20
        addressOne:
          type: string
          maxLength: 100
        addressTwo:
          type: string
          maxLength: 50
        city:
          type: string
          maxLength: 30
        orderDate:
          type: string
          format: date
        requestedDeliveryDate:
          type: string
          format: date
          description: Maps to Due Date.
        promisedDeliveryDate:
          type: string
          format: date
          description: Also maps to Due Date (same underlying field).
        blocked:
          type: boolean
        yourReference:
          type: string
          maxLength: 35
        externalDocumentNo:
          type: string
          maxLength: 35
        salesQuoteLines:
          type: array
          items:
            $ref: "#/components/schemas/SalesQuoteLine"

    SalesQuoteUpdate:
      allOf:
        - $ref: "#/components/schemas/SalesQuoteCreate"
      description: Same shape as create; all fields optional on update.

    SalesQuote:
      type: object
      properties:
        orderNo:
          type: string
          maxLength: 20
          readOnly: true
          description: Sales Header "No."; auto-assigned by No. Series.
        customerNo:
          type: string
          maxLength: 20
        salesPersonCode:
          type: string
          maxLength: 20
        addressOne:
          type: string
          maxLength: 100
        addressTwo:
          type: string
          maxLength: 50
        city:
          type: string
          maxLength: 30
        orderType:
          type: string
          enum: [Normal, "Package Sale"]
          readOnly: true
        status:
          type: string
          enum: [Open, Released, "Pending Approval", "Pending Prepayment"]
          readOnly: true
        orderDate:
          type: string
          format: date
        requestedDeliveryDate:
          type: string
          format: date
        promisedDeliveryDate:
          type: string
          format: date
        deliveryStatus:
          $ref: "#/components/schemas/DeliveryStatus"
        responsibilityCenter:
          type: string
          maxLength: 10
          readOnly: true
          description: Auto-populated from the customer's post code lookup.
        blocked:
          type: boolean
        yourReference:
          type: string
          maxLength: 35
        externalDocumentNo:
          type: string
          maxLength: 35
        salesQuoteLines:
          type: array
          items:
            $ref: "#/components/schemas/SalesQuoteLine"

    DeliveryStatus:
      type: string
      enum:
        - Pending
        - "Ready for Delivery"
        - "Picked for Delivery"
        - "ASM: Not Ready for Delivery"
        - "ASM: Customer ready to receive"

    SalesOrder:
      allOf:
        - $ref: "#/components/schemas/SalesQuote"
        - type: object
          properties:
            ResponsibilityCenter:
              type: string
              maxLength: 10

    SalesOrderUpdate:
      type: object
      properties:
        deliveryStatus:
          $ref: "#/components/schemas/DeliveryStatus"
        PlateNo:
          type: string
          maxLength: 30
        requestedDeliveryDate:
          type: string
          format: date

    # ---- Payments ----
    PaymentCreate:
      type: object
      required:
        - date
        - customerNo
        - amount
        - accountNo
      properties:
        date:
          type: string
          format: date
          description: Maps to Posting Date.
        externalDocumentNo:
          type: string
          maxLength: 35
          description: >
            Must be unique per journal template/batch if supplied — a
            duplicate throws "The External Document No. %1 already
            exists."
        customerNo:
          type: string
          maxLength: 20
          description: Maps to Customer No.
        amount:
          type: number
          format: double
          description: >
            Positive amounts are automatically negated on validate
            (payments are stored as credits).
        accountNo:
          type: string
          maxLength: 20
          description: Maps to Bal. Account No. — the bank account receiving the payment.
        orderNo:
          type: string
          maxLength: 20
          description: Maps to Sales Quote No.
        attachmentUrl:
          type: string
          maxLength: 400
          description: >
            Maps to a field literally named Picture in the journal line
            extension, despite holding a URL string, not an image.

    Payment:
      allOf:
        - $ref: "#/components/schemas/PaymentCreate"
        - type: object
          properties:
            paymentNo:
              type: string
              format: uuid
              readOnly: true
              description: Returned as the record's SystemId.

    # ---- Reference data ----
    BankDetail:
      type: object
      properties:
        name:
          type: string
          maxLength: 20
        description:
          type: string
          maxLength: 100
        balAccountNo:
          type: string
          maxLength: 20

    SalesPerson:
      type: object
      properties:
        code:
          type: string
          maxLength: 20
        name:
          type: string
          maxLength: 50
        type:
          type: string
          maxLength: 30
          description: Job Title.
        RSM:
          type: string
          maxLength: 20
        NSM:
          type: string
          maxLength: 20
        phoneNumber:
          type: string
          maxLength: 30
        blocked:
          type: boolean

    Geography:
      type: object
      properties:
        Level_3:
          type: string
          maxLength: 20
          description: Post Code.
        Level_2:
          type: string
          maxLength: 30
          description: City.
        Level_1:
          type: string
          maxLength: 20
          description: Territory.
        Country:
          type: string
          maxLength: 10
        Responsibility_Center:
          type: string
          maxLength: 10
        Transport_Method:
          type: string
          maxLength: 10
        Sales_Representative:
          type: string
          maxLength: 10
        Population:
          type: integer


